.subs-comp {
    background-color: rgb(10, 184, 146);
    height: 300 px;
    padding: 40px 50px;
}

.subs-comp-row {
    margin: auto 22.8vw;
}


.email-col {
    /* max-width: 700px; */
    /* margin-left: 250px; */
}

.input-group-place {
    height: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 20px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    margin-left: 20px;
    opacity: 1; /* Firefox */
  }


  .btn-green {
      color: rgb(33, 173, 127);
      font-weight: bold;
  }